name: Deploy

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    name: Deploy package
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          registry-url: 'https://npm.pkg.github.com'
          scope: '@glotticaorg'
          node-version: 24
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Publish
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
